#!/usr/bin/env xdg-open
[Desktop Entry]
Name=FilePod
Version=1.0
Terminal=false
Type=Application
Exec=.local/bin/filepod
Icon=/home/USER/.local/share/icons/hicolor/256x256/apps/filepod.png
